<!DOCTYPE html>
<html>
<head>
    <style>
        {{> email-styles }}
    </style>
</head>
<body>
    <div class="container">
        <h1>Reporte de Entregas - {{proveedor}}</h1>
        <p>Estimado {{proveedor}},</p>
        <p>Adjunto encontrará el reporte de entregas correspondiente al período solicitado.</p>
        
        <div class="details">
            <p><strong>Detalles:</strong></p>
            <ul>
                <li>Fecha de generación: {{fecha}}</li>
                <li>Total de pedidos: {{totalPedidos}}</li>
            </ul>
        </div>
        
        <div class="footer">
            <div class="footer-text">
                <p>Atentamente,</p>
                <p>El equipo de {{empresa}}</p>
            </div>
            <div class="footer-logo">
                <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/464526151_122146753742297516_5099566141232221430_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEQqJOQpJucZIv6gN3UDs3Kq7DyswQKXJOrsPKzBApck0him_JD5APHhsWWFAaTHDwe3zYLP8m-qWzXGdPfvtzK&_nc_ohc=-kEyiz60jhwQ7kNvgG9eAPR&_nc_oc=AdmTE6OuSBtZR9jmjwwRqU_fsstozE40KkqKARgwCGkXQuIJi-w3-qgdvwq6ivdemic&_nc_zt=23&_nc_ht=scontent-lim1-1.xx&_nc_gid=az9KFiON5oamUzagnCSkTg&oh=00_AYHWRyYWRUOXCE2-uRqwZe65KQ_oHUMHMmxm6xykLYHX4Q&oe=67EA8816" alt="Logo" class="logo-image">
            </div>
        </div>
    </div>
</body>
</html>